<footer class="footer span9 offset1">
<div class="span5">
<p>Copyright 2012 <a href="http://andrefs.pt">andrefs</a>.
Background pattern by <a href="http://www.styleshout.com/">StyleShout</a>.
<% if session.powered_by %>
Powered by <a href="<% session.powered_by.value %>"><% session.powered_by.text %></a>.
<% end %>
</p>
</div>
</footer>
